<ion-header>
  
</ion-header>

<ion-content>

  <h3>Uhu!</h3>

  <div class = "side-menu-wrapper">

    <ul>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="home-outline"></ion-icon>Início</a></li>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="list-outline"></ion-icon>Eventos</a></li>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="calendar-clear-outline"></ion-icon>Serviços</a></li>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="notifications-outline"></ion-icon>Notificações</a></li>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="chatbox-outline"></ion-icon>Conversas</a></li>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="cog-outline"></ion-icon>Configurações</a></li>
    </ul>

  </div>

  <div class = "escolha_eventos">

    <h1>Eventos</h1>

    <div class = "div_opções">

      <ion-item lines = "none" class = "item_azul"  href = "https://www.ionicframework.com">
        <img class = "onda_azul" src = "assets/onda_vermelha.png">
      </ion-item>

      <ion-item lines = "none" class = "item_amarela"  href = "https://www.ionicframework.com">
        <img class = "onda_azul" src = "assets/onda_verde.png">
      </ion-item>

    </div>

    <div class = "div_hr"></div>

  </div>

</ion-content>