//Fontes
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;700&display=swap');

ion-content{
	display: flex;
	.side-menu-wrapper{
		background: linear-gradient(to top,  rgba(248, 109, 112, 0.4), rgba(194, 163, 245, 0.4), rgba(163, 213, 245, 0.4));
		width: 25%;
		float: left;
    	font-family: 'Montserrat', sans-serif;
        height: 100%;
		img{
			margin-top: 50px;
			margin-left: 10%;
			width: 35%;
		}
		ul{
			padding: 0;
			margin-top: 10%;
			li{
   				padding: 6px 4px;
    			font-weight: 200;
				line-height: 20px;
				font-size: 14px;
				padding-left: 10%;
				background-color: rgba(255,255,255,0.5);
				a{
					text-decoration: none;
					color: black;
					.icons_sidemenu{
						margin-right: 5%;					
					}
				}
			}
			.sair{
				margin-top: 20px;
			}
		}
	}
	.direita{
		width: 75%;
		height: 100%;
		float: right;
		.escolha_eventos{
			display: flex;
			flex-direction: column;
			box-shadow: 0 0 1em rgb(207, 207, 207);
    		border: 0.5px solid rgb(255, 255, 255);
			margin: 100px 5% 0 5%;
			padding: 15px 30px;
			ion-item{
				.titulo_direita{
					font-family: 'Montserrat';
					font-weight: 600;
					font-size: 20px;
					color: black;
					margin-top: 30px;
					border-bottom: 1px solid #F86D70; 
					border-bottom-width: 3px;
				}
			}
			.div_opções{
				display: flex;
				overflow-x: scroll;
				.item_opções{
					min-width: 310px;
					min-height: 260px;
					margin-left: 2%;
					display: flex;
					flex-direction: column;
					align-items: center;
					img{
						margin-top: 5px;
						
					}
					.icon_azul{
						color: #6DC3F8;
						//margin: 0 0 0 120px;
						font-size: 70px;
					}
					.icon_amarelo{
						color: #F8E16D;
						font-size: 70px;
					}
					.icon_verde{
						color: #9BF86D;
						font-size: 70px;
					}
					.icon_azul, .icon_amarelo, .icon_verde{
						margin: 0 auto;
					}
					ion-item{
						.título_label{
							margin: 0 0 0 0;
							font-family: 'Montserrat', sans-serif;
							font-weight: bold;
						}
					}
					ion-item{
						p{
							font-family: 'Montserrat', sans-serif;
							font-size: 11px;
						}
					}
				}
			}
			.div_hr{
				margin-top: 30px;
				height: 5px;
				width: 94%;
				background: red;
			}
		}
	}
}

/*ion-content{
	.direita{
		width: 75%;
		height: 70%;
		float: right;
		.escolha_eventos{
			height: 700px;
			//background-color: white;
			box-shadow: 0 0 1em rgba(207, 207, 207, 0.77);
    		border: 0.5px solid rgba(255, 255, 255, 0.77);
			//display: flex;
        	//flex-flow: column;
			margin: 100px 30px 0 0px;
			ion-item{
				.titulo_direita{
					font-family: 'Montserrat', sans-serif;
					color: black;
					font-weight: 600;
					margin: 2% 0 0 5%;
					width: 8%;
					border: 1px solid #F86D70;
					border-bottom-width: 3px;
					border-top-color: white;
					border-right-color: white;
					border-left-color: white;
				}
			}
			.div_opções{
				//margin: 0% 3% 0 0;
				//height: 100px;
				border: 1px solid black;
				.item_opções{
					width: 310px;
					float: left;
					--min-height: 261px;
					.onda{
						width: 313px;
						margin: 2px 0 0 0;
						padding: 0;
					}
					.icon_azul{
						color: #6DC3F8;
						margin: 0 0 0 120px;
						font-size: 70px;
						display: block;
					}
					.icon_amarelo{
						color: #F8E16D;
						margin: 0 0 0 120px;
						font-size: 70px;
						display: block;
					}
					.icon_verde{
						color: #9BF86D;
						margin: 0 0 0 120px;
						font-size: 70px;
						display: block;
					}
					hr{
						color: blue;
						size: 100px;
					}
					ion-item{
						.título_label{
							margin: 0 0 0 0;
							font-family: 'Montserrat', sans-serif;
							font-weight: bold;
						}
						p{
							font-family: 'Montserrat', sans-serif;
							font-size: 11px;
						}
					}
				}
			}
			.div_hr{
				margin: 300px 3% 0 3%;
				height: 1%;
				width: 94%;
				background: red;
			}
		}
	}
}*/