<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

<ion-header>
  
</ion-header>

<ion-content>

  <a href = "home"><img src = "/assets/Uhu!.png" alt = "logo_uhu!"></a>

  <div class = "side-menu-wrapper">

    <ul>
      <li><a href = "http://www.google.com" target = "blank" rel = "nofollow">Google</a></li>
      <li><a href = "https://www.uol.com.br/" target = "blank" rel = "nofollow">UOL</a></li>
      <li><a href = "http://www.facebook.com" target = "blank" rel = "nofollow">Facebook</a></li>
    </ul>

  </div>

</ion-content>
