<ion-header>
  
</ion-header>

<ion-content>

  <h3>Uhu!</h3>

  <div class = "side-menu-wrapper">

    <ul>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="home-outline"></ion-icon>Início</a></li>
      <li><a href = "eventos-geral-eventos"><ion-icon class = "icons_sidemenu" name="list-outline"></ion-icon>Eventos</a></li>
      <li><a href = "eventos-servicos"><ion-icon class = "icons_sidemenu" name="calendar-clear-outline"></ion-icon>Serviços</a></li>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="notifications-outline"></ion-icon>Notificações</a></li>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="chatbox-outline"></ion-icon>Conversas</a></li>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="cog-outline"></ion-icon>Configurações</a></li>
    </ul>

  </div>

  <div class = "escolha_eventos">

    <h1>Início</h1>

    <div class = "div_opções">

      <ion-item lines = "none" class = "item_azul"  href = "https://www.ionicframework.com">
        <img class = "onda_azul" src = "assets/Vector 28.svg">
        <ion-icon class = "icon_cad_empresa" name = "create-outline"></ion-icon>
        <hr>
        <p>Cadastar minha empresa</p>
        <p>Sou fornecedor de serviços e pretendo trabalhar com o Uhu!</p>
      </ion-item>

      <ion-item lines = "none" class = "item_amarela"  href = "https://www.ionicframework.com">
        <img class = "onda_azul" src = "assets/Vector 29.svg">
        <ion-icon name="log-in-outline"></ion-icon>
        <hr>
        <p>Participar de um evento</p>
        <p>Fui convidado para uma festa e quero reservar meu assento e saber os fornecedores recomendados</p>
      </ion-item>

      <ion-item lines = "none" class = "item_verde"  href = "https://www.ionicframework.com">
        <img class = "onda_azul" src = "assets/Vector 30.svg">
        <ion-icon name = "file-tray-full-outline"></ion-icon>
        <hr>
        <p>Procurar fornecedores</p>
        <p>Tenho interesse em conhecer os fornecedores disponiveis para me atender</p>
      </ion-item>

    </div>

    <div class = "div_hr"></div>

  </div>

</ion-content>