<ion-content>

  <div class="side-menu-wrapper">
    <img src="/assets/Uhu!.png">
    <ul>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="home-outline"></ion-icon>Início</a></li>
      <li><a href = "eventos-geral-eventos"><ion-icon class = "icons_sidemenu" name="list-outline"></ion-icon>Eventos</a></li>
      <li><a href = "eventos-servicos"><ion-icon class = "icons_sidemenu" name="calendar-clear-outline"></ion-icon>Serviços</a></li>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="notifications-outline"></ion-icon>Notificações</a></li>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="chatbox-outline"></ion-icon>Conversas</a></li>
      <li><a href = ""><ion-icon class = "icons_sidemenu" name="cog-outline"></ion-icon>Configurações</a></li>
    </ul>
  </div>

  <div class="escolha_eventos">

    <ion-item lines="none">
      <ion-label class="titulo_direita">Início</ion-label>
    </ion-item>

    <div class="div_opções">

      <ion-card lines="none" class="item_opções" href="https://www.ionicframework.com">
        <img src="assets/Vector 28.svg" class = "onda">
        <ion-icon name="create-outline" class = "icon_azul"></ion-icon>
        <hr>
        <ion-item lines="none">
          <ion-label class = "título_label">Cadastar minha empresa</ion-label>
        </ion-item>
        <ion-item lines="none">
          <p>Sou fornecedor de serviços e pretendo trabalhar com o Uhu!</p>
        </ion-item>
      </ion-card>

      <ion-card lines="none" class="item_opções" href="https://www.ionicframework.com">
        <img src="assets/Vector 29.svg" class = "onda">
        <ion-icon name="log-in-outline" class = "icon_amarelo"></ion-icon>
        <ion-item lines="none">
          <ion-label class = "título_label">Participar de um evento</ion-label>
        </ion-item>
        <ion-item lines="none">
          <p>Fui convidado para uma festa e quero reservar meu assento e saber os fornecedores recomendados</p>
        </ion-item>
      </ion-card>

      <ion-card lines="none" class="item_opções" href="https://www.ionicframework.com">
        <img src="assets/Vector 30.svg" class = "onda">
        <ion-icon name="file-tray-full-outline" class = "icon_verde"></ion-icon>
        <ion-item lines="none">
          <ion-label class = "título_label">Procurar fornecedores</ion-label>
        </ion-item>
        <ion-item lines="none">
          <p>Tenho interesse em conhecer os fornecedores disponiveis para me atender</p>
        </ion-item>
      </ion-card>
 
      <!--<ion-item lines="none" class="item_opções"  href="https://www.ionicframework.com">
        <img class="onda" src="assets/Vector 29.svg">
        <ion-icon name="log-in-outline"></ion-icon>
        <hr>
        <p>Participar de um evento</p>
        <p>Fui convidado para uma festa e quero reservar meu assento e saber os fornecedores recomendados</p>
      </ion-item>

      <ion-item lines="none" class="item_opções" href="https://www.ionicframework.com">
        <img class="onda" src="assets/Vector 30.svg">
        <ion-icon name="file-tray-full-outline"></ion-icon>
        <hr>
        <p>Procurar fornecedores</p>
        <p>Tenho interesse em conhecer os fornecedores disponiveis para me atender</p>
      </ion-item>-->

    </div>

    <div class = "div_hr"></div>

  </div>

</ion-content>