ion-header{
    ion-toolbar{
      --background: linear-gradient(to right, rgba(248, 109, 112, 0.4), rgba(194, 163, 245, 0.4), rgba(163, 213, 245, 0.4));
  
      ion-title{
        img{
          width: 60px;
        }
      }
      .btn_inicio{
        font-size: 10px;
      }
      .btn_sobre{
        font-size: 10px;
      }
      .btn_contato{
        font-size: 10px;
        margin: 0 330px 0 0;
      }
      .btn_entrar{
        font-size: 10px;
      }
      .btn_cconta{
        font-size: 12px;
      }
    }
}  

ion-content{
  .container_icon{
    width: 50px;
    height: 50px;
    background: white;
    box-shadow: 0 0 1em rgba(207, 207, 207, 0.77);
    margin: 35px 0 0 250px;
    float: left;
    border: none;
    color: black;
  }
  .container_cadastro_fornecedor{
    width: 50%;
    height: 130%;
    background: white;
    margin: 35px 25% 35px 25%;
    box-shadow: 0 0 1em rgba(207, 207, 207, 0.77);
    border: 0.5px solid rgba(207, 207, 207, 0.77);
  }
  .icon_bolinhas{
    margin: 40px 0 0 305px;
    width: 55px;
  }
  .bola01{
    color: #F86D70;
  }
  .bola02{
    color: #E5D6D6;
  }
  .bola03{
    color: #E5D6D6;
  }
  h1{
      color: black;
      text-align: center;
      margin-top: 30px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
  }
  h6{
      font-size: 13px;
      color: black;
      font-weight: bolder;
      font-family: 'Montserrat', sans-serif;
      margin: 30px 0 0 15%;
  }
  hr{
      border-bottom: 1px solid #ccc;
      margin: 10px 0 0 0;
      width: 80%;
      margin: 0 10% 0 10%;
  }
  p{
      color: black;
      font-family: 'Montserrat', sans-serif;
      margin: 25px 0 0 0;
      font-size: 12px;
      text-align: center;
  }
  ion-input{
      border: rgba(241, 241, 241, 0.77) solid;
      width: 70%;
      margin: 10px 15% 0 15%;
      font-family: 'Montserrat', sans-serif;
  }
  ion-button{
      margin: 50px 15% 0 15%;
      border: #A26DF8 solid;
      color: #A26DF8;
      width: 70%;
      height: 70px;
  }
}