<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

<ion-header>

  <ion-toolbar>
    <ion-title>
      <img src="/assets/Uhu!.png" alt="logo_uhu!">
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button class="btn_inicio">
        Início
      </ion-button>
      <ion-button class="btn_sobre">
        Sobre
      </ion-button>
      <ion-button class="btn_contato">
        Contato
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button class="btn_entrar" color="dark">
        Entrar
      </ion-button>
      <ion-button class="btn_cconta" color="dark" fill="outline">
        Criar Conta
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class = "container">

    <ion-button class = "container_icon" color = "white">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <div class = "container_cadastro_fornecedor">

      <h1>Cadastrar Empresa</h1>
      
      <hr size = 50>

    <!-------------------->

        <p>Não se preocupe, pediremos apenas dados necessários</p>

        <h6>Nome de Fornecedor</h6>

        <ion-input value = "" color = "primary" placeholder = "Nome de exibição"></ion-input>

        <h6>Nome Fantasia</h6>

        <ion-input value = "" color = "primary" placeholder = "Nome que está registrado na documentação"></ion-input>

        <h6>Contato da Empresa</h6>

        <ion-input value = "" color = "primary" placeholder = "Número de contato da empresa"></ion-input>

        <h6>CNPJ</h6>

        <ion-input value = "" color = "primary" placeholder = "CNPJ da empresa"></ion-input>
    
      <!-------------------->

      <ion-button color = "white">
        Próxima Etapa >
      </ion-button>

    </div>

  </div>

</ion-content>