//Fontes
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;700&display=swap');

ion-header{
  ion-toolbar{
    --background: linear-gradient(to right, rgba(248, 109, 112, 0.4), rgba(194, 163, 245, 0.4), rgba(163, 213, 245, 0.4));
    width: 100%;

    .menu{
      max-width: 980px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: flex;

      ion-title{
        --title-width: 100px;
        img{
          width: 10%;
          padding: 5px 0;
        }
      }
      ion-buttons{
        .btn_font{
          font-size: 10px;
          color: black;
        }
      }
    }
  }
  ion-toolbar{
    .menu{
      max-width: 980px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: flex;

      ion-title{
        --title-width: 100px;
        img{
          width: 10%;
          padding: 5px 0;
        }
      }
      ion-buttons{
        ion-icon{
          font-size: 40px;
        }
      }
    }
  }
}  

ion-content{
  .centro{
      width: 42%;
      margin: 100px auto;
      .icon_bolinhas{
        margin: 0 auto;
        width: 60px;
        .bola01{
          color: #F86D70;
          margin: none;
        }
        .bola02{
          color: #E5D6D6;
          margin-left: 15px;
          margin-right: 15px;
        }
        .bola03{
          color: #E5D6D6;
          margin: none;
        }
      }
      ion-item{
        .arrow-back{
          width: 40px;
          height: 60px;
          font-size: 32px;
          color: black;
          --border-radius: 0;
          --padding-bottom: 0px;
          --padding-end: 0px;
          --padding-start: 0px;
          --padding-top: 0px;
      }
        .titulo{
          font-family: 'Montserrat';
          font-weight: bold;
          font-size: 32px;
          margin: 0;
        }
      }
      ion-item{
        .text{
          font-family: 'Montserrat';
          font-size: 12px;
        }
      }
      ion-item{
        .label_input{
          font-family: 'Montserrat';
          font-weight: bold;
          font-size: 16px;
        }
      }
      ion-input{
        --placeholder-font-family: 'Montserrat';
        font-size: 14px;
        --placeholder-color: black;
        --placeholder-opacity: 0.7;
        border: solid #EEE7E7 1px;
        --padding-bottom: 12px;
        --padding-start: 15px;
        --padding-top: 12px;
        margin-bottom: 15px;
        margin-left: 16px;
      }
      .btn_proxima{
        border: #A26DF8 solid;
        color: #A26DF8;
        --padding-end: 140px;
        --padding-start: 140px;
        height: 70px;
      }
    }
}