<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

<ion-header>

  <ion-toolbar>
    <ion-title>
      <a href="home"><img src="/assets/Uhu!.png" alt="logo_uhu!"></a>
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button class="btn_inicio">
        Início
      </ion-button>
      <ion-button class="btn_sobre">
        Sobre
      </ion-button>
      <ion-button class="btn_contato">
        Contato
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button class="btn_entrar" color="dark">
        Entrar
      </ion-button>
      <ion-button class="btn_cconta" color="dark" fill="outline">
        Criar Conta
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

    <ion-button class = "container_icon" color = "white" href = "cadastro-fornecedor01">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <div class = "container_cadastro_fornecedor">

      <div class = "icon_bolinhas">
        <ion-icon class = "bola01" name = "ellipse-sharp"></ion-icon>
        <ion-icon class = "bola02" name = "ellipse-sharp"></ion-icon>
        <ion-icon class = "bola03" name = "ellipse-sharp"></ion-icon>
      </div>

      <h1>Cadastrar Empresa</h1>
      
      <hr size = 50>

      <!-------------------->

        <p>Precisaremos de algumas informações de contato</p>

        <h6>Telefone</h6>

        <ion-input type = "number" value = "" color = "primary" placeholder = "Digite somente números"></ion-input>

        <h6>Celular</h6>

        <ion-input type = "number" value = "" color = "primary" placeholder = "Digite somente números"></ion-input>

        <h6>E-mail</h6>

        <ion-input type = "email" value = "" color = "primary" placeholder = "E-mail para contato"></ion-input>
    
      <!-------------------->

      <ion-button color = "white" href = "home">
        Próxima Etapa >
      </ion-button>

    </div>

</ion-content>