<ion-header>

  <ion-toolbar>

    <div class = "menu">

      <ion-title><img src="/assets/Uhu!.png"></ion-title>

      <ion-buttons>
        <ion-button href = "eventos-geral" class="btn_font" fill="outline">Eventos Gerais</ion-button>
        <ion-button href = "login-cliente" class="btn_font" fill="outline">Login Cliente</ion-button>
      </ion-buttons>

    </div>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card class = "card_serviço">
    <h1>Administração</h1>
  </ion-card>

  <ion-card>
    <ion-item lines = "none" class = "notificações">
      <ion-label>
        <h4>Notificações</h4>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card class = "tarefas_prioridades">
    <ion-item lines = "none" class = "notificações">
      <ion-label>
        <h4>Tarefas - Prioridades</h4>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
