@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;700&display=swap');

ion-header{
    ion-toolbar{
        background: white;
        --background: linear-gradient(to right, rgba(248, 109, 112, 0.4), rgba(194, 163, 245, 0.4), rgba(163, 213, 245, 0.4));
        width: 100%;
  
        .menu{
            max-width: 980px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
    
            ion-title{
            --title-width: 100px;
                img{
                    width: 10%;
                    padding: 5px 0;
                }
            }
            ion-buttons{
                .btn_font{
                    font-size: 10px;
                    color: black;
                }
            }
        }
    }
    ion-toolbar{
        .menu{
            max-width: 980px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
  
            ion-title{
            --title-width: 100px;
                img{
                    width: 10%;
                    padding: 5px 0;
                }
            }
            ion-buttons{
                ion-icon{
                    font-size: 40px;
                }
            }
        }
    }
}
ion-content{
    .card_serviço{
        --background: linear-gradient(to right, rgba(248, 109, 112, 0.4), rgba(194, 163, 245, 0.4), rgba(163, 213, 245, 0.4));
        padding: 0;
        margin: 0;
        width: 100%;
        height: 35%;
      
        h1{
            padding: 0%;
            margin: 5% 0 0 0;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: black;
            text-align: center;
        }
    }
    .tipo_serviço{
        margin: 50px 0 0 0;
        max-width: 100%;
        height: 200px;
        border: 1px solid black;

        ion-icon{
            margin: 75px 0 50px 42px;
            color: black;
            font-size: 40px;
            float: left;
        }
        .img01{
            float: left;
            width: 130px;
            border: 1px solid black;
            margin: 8px 0 0 3%;
            text-align: center;
            font-family: 'Dancing Script';
            font-weight: bold;
            font-size: 25px;
            p{
                margin-top: 0%;
                text-align: center;
                font-family: 'Dancing Script';
                font-weight: bold;
                font-size: 25px;
            }
        }
        .p_img{
            float: left;
            border: 1px solid black;
            margin: 8px 0 0 5%;
            p{
                margin-top: 0%;
                text-align: center;
                font-family: 'Dancing Script';
                font-weight: bold;
                font-size: 25px;
            }
        }
        img{
            width: 130px;
            margin: 0;
        }
    }
    ion-input{
        --placeholder-font-family: 'Montserrat';
        font-size: 14px;
        --placeholder-color: black;
        --placeholder-opacity: 0.7;
        border: solid black 1px;
        --padding-bottom: 12px;
        --padding-start: 15px;
        --padding-top: 12px;
        margin: 3% 0 15px 35%;
        border-radius: 50px;
        width: 30%;

        ion-icon{
            margin-left: 10px;
        }
    }
    h5{
        margin: 5% 0 0 15%;
        font-family: 'Montserrat', sans-serif;
        text-decoration: underline
    }
    .cards{
        width: 15%;
        height: 60%;
        background: #F0F0F0;
        margin: 5% 0 0 15%;
        float: left;
        img{
            width: 80%;
            margin: 10% 0 0 10%;
        }
        ion-card-subtitle{
            margin-top: 15%;
            text-align: center;
            font-family: 'Dancing Script';
            font-size: 24px;
            font-weight: bold;
            color: black;
        }
        ion-card-content{
            margin-top: 5%;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-weight: 400;
            color: black;
        }
    }
    .cards02{
        width: 15%;
        height: 60%;
        background: #F0F0F0;
        margin: 5% 0 0 12%;
        float: left;
        img{
            width: 80%;
            margin: 10% 0 0 10%;
        }
        ion-card-subtitle{
            margin-top: 15%;
            text-align: center;
            font-family: 'Dancing Script';
            font-size: 24px;
            font-weight: bold;
            color: black;
        }
        ion-card-content{
            margin-top: 5%;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-weight: 400;
            color: black;
        }
    }
    .cards_baixo{
        width: 15%;
        height: 60%;
        background: #F0F0F0;
        margin: 5% 0 0 15%;
        float: left;
        img{
            width: 80%;
            margin: 10% 0 0 10%;
        }
        ion-card-subtitle{
            margin-top: 15%;
            text-align: center;
            font-family: 'Dancing Script';
            font-size: 24px;
            font-weight: bold;
            color: black;
        }
        ion-card-content{
            margin-top: 5%;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-weight: 400;
            color: black;
        }
    }
    .cards02_baixo{
        width: 15%;
        height: 60%;
        background: #F0F0F0;
        margin: 5% 0 0 12%;
        float: left;
        img{
            width: 80%;
            margin: 10% 0 10px 10%;
        }
        ion-card-subtitle{
            margin-top: 15%;
            text-align: center;
            font-family: 'Dancing Script';
            font-size: 24px;
            font-weight: bold;
            color: black;
        }
        ion-card-content{
            margin-top: 5%;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-weight: 400;
            color: black;
        }
    }
}