ion-header{
    ion-toolbar{
        background: white;
        --background: linear-gradient(to right, rgba(248, 109, 112, 0.4), rgba(194, 163, 245, 0.4), rgba(163, 213, 245, 0.4));
        width: 100%;
  
        .menu{
            max-width: 980px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
    
            ion-title{
            --title-width: 100px;
                img{
                    width: 10%;
                    padding: 5px 0;
                }
            }
            ion-buttons{
                .btn_font{
                    font-size: 10px;
                    color: black;
                }
            }
        }
    }
    ion-toolbar{
        .menu{
            max-width: 980px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
  
            ion-title{
            --title-width: 100px;
                img{
                    width: 10%;
                    padding: 5px 0;
                }
            }
            ion-buttons{
                ion-icon{
                    font-size: 40px;
                }
            }
        }
    }
}
ion-content{
    .card_serviço{
      --background: linear-gradient(to right, rgba(248, 109, 112, 0.4), rgba(194, 163, 245, 0.4), rgba(163, 213, 245, 0.4));
      padding: 0;
      margin: 0; 
      width: 100%;
      height: 35%; 
    }
}