<ion-header>
</ion-header>
  
<ion-content>

  <div id="header">
    <div class="cabeçalho_header_desk ion-align-items-center">
      <img class="img_header" src="/assets/Uhu!.png">

      <ion-button class="btn_header" fill="clear">Início</ion-button>
      <ion-button class="btn_header" fill="clear">Sobre</ion-button>
      <ion-button class="btn_header" fill="clear">Filiação</ion-button>
      <span class="espaço"></span>
      <ion-button class="btn_header" fill="clear" routerLink="login">Entrar</ion-button>
      <ion-button class="btn_header btn_cadastro" fill="outline" routerLink="cadastro-cliente">Criar Conta</ion-button>
    </div>

    <div class="cabeçalho_header_mobile ion-align-items-center">
      <img class="img_header" src="/assets/imagens/Uhu!.png">
      <span class="espaço"></span>
      <ion-menu-button></ion-menu-button>
    </div>
  </div>

  <div class="centro">

    <div class="icon_bolinhas">
      <ion-icon class="bola01" name="ellipse-sharp"></ion-icon>
      <ion-icon class="bola02" name="ellipse-sharp"></ion-icon>
      <ion-icon class="bola03" name="ellipse-sharp"></ion-icon>
    </div>
        
    <ion-item lines="none">
      <ion-button class="arrow-back" fill="clear" (click)="cadastro_empresa()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      <ion-label class="titulo ion-text-center">Cadastrar Empresa</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="text ion-text-center">Precisaremos de algumas informações sobre a localização</ion-label>
    </ion-item>
  
    <ion-item lines="none">
      <ion-label class="label_input">CEP</ion-label>
    </ion-item>

    <ion-input type="number" placeholder="Digite somente números"></ion-input>

    <ion-item lines="none">
      <ion-label class="label_input">Cidade</ion-label>
    </ion-item>

    <ion-input type="text" placeholder=""></ion-input>

    <ion-item lines="none">
      <ion-label class="label_input">Bairro</ion-label>
    </ion-item>

    <ion-input type="text" placeholder=""></ion-input>

    <ion-item lines="none">
      <ion-label class="label_input">Endereço</ion-label>
    </ion-item>

    <ion-input type="text" placeholder="Nome da rua"></ion-input>

    <ion-item lines="none">
      <ion-label class="label_input">Número</ion-label>
    </ion-item>

    <ion-input type="number" placeholder=""></ion-input>
  
    <ion-button class="btn_proxima" fill="clear" (click)="cadastro_empresa2()">Próxima Etapa</ion-button>

  </div>

</ion-content>