<ion-content>
  <div class="side-menu-wrapper">
    <ion-item>
      <ion-label class="titulo_esquerda">Uhu!</ion-label>
    </ion-item>
    <ul>
      <li><a href="eventos-geral"><ion-icon class="icons_sidemenu" name="home-outline"></ion-icon>Início</a></li>
      <li><a href="eventos-geral-eventos"><ion-icon class="icons_sidemenu" name="list-outline"></ion-icon>Eventos</a></li>
      <li><a href="eventos-servicos"><ion-icon class="icons_sidemenu" name="calendar-clear-outline"></ion-icon>Serviços</a></li>
      <li><a href="notificacoes"><ion-icon class="icons_sidemenu" name="notifications-outline"></ion-icon>Notificações</a></li>
      <li><a href="conversas"><ion-icon class="icons_sidemenu" name="chatbox-outline"></ion-icon>Conversas</a></li>
      <li><a href="configuracoes"><ion-icon class="icons_sidemenu" name="cog-outline"></ion-icon>Configurações</a></li>
    </ul>
  </div>
</ion-content>
