<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

<ion-header>

</ion-header>

<ion-content>

  <div class = "div_esquerda">

    <h1>Quase pronto</h1>
    
    <img src = "/assets/img_cadastro_transparente.png">

    <hr size = "50">

    <p>Já possui uma conta?</p>

    <ion-button color = "white" href = "home">
      Entrar
    </ion-button>

  </div>

  <ion-button class = "container_icon" color = "white" href = "home">
    <ion-icon name = "chevron-back-outline"></ion-icon>
  </ion-button>

  <div class = "div_direita">

    <h1 class = "criar_conta">Criar nova conta</h1>
    
    <hr size = "50">

    <p>Preencha alguns dados para continuar</p>

    <ion-input type = "text" color = "primary" placeholder = "Nome"></ion-input>

    <ion-input class = "input-especial" type = "tel" color = "primary" placeholder = "Número de celular"></ion-input>

    <ion-input class = "input-especial" type = "text" color = "primary" placeholder = "Data de nascimento"></ion-input>

    <ion-button color = "white" href = "home">
      Concluir cadastro
    </ion-button>

  </div>

</ion-content>
