<ion-content>
  <div class="div_esquerda">
    <div class="centro_esquerda">
      <ion-item lines="none">
        <ion-label class="titulo_esquerda ion-text-center">Bem vindo de volta!</ion-label>
      </ion-item>

      <img src="/assets/img_festa.png">

      <ion-item lines="none">
        <ion-label class="text_esquerda ion-text-center">Ainda não possui uma conta?</ion-label>
      </ion-item>
      <ion-button fill="outline" href="home">Cadastrar-se</ion-button>
    </div>
  </div>

  <div class="div_direita">
    <div class="centro_direita">
      <ion-item lines="none">
        <ion-button class="arrow-back" fill="clear" (click)="home()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        <ion-label class="criar_conta ion-text-center">Entre na sua conta</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="text_direita ion-text-center">Entre com uma rede social</ion-label>
      </ion-item>

      <div class="botoes_redes">
        <ion-button class="container_icon" color="white">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button class="container_icon" color="white">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="container_icon" color="white">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-button>
      </div>

      <ion-item lines="none">
        <ion-label class="text_direita ion-text-center">Ou use seu email para entrar:</ion-label>
      </ion-item>

      <ion-input type="text" placeholder="E-mail ou nome de usuário"></ion-input>
      <ion-input type="tel" placeholder="Senha"></ion-input>

      <ion-label class="checkbox">
        <ion-checkbox color="light"></ion-checkbox>
        <ion-item lines="none">
          <ion-label>Mantenha-me conectado</ion-label>
        </ion-item>
      </ion-label>
      <ion-button fill="outline" href="home">Concluir cadastro</ion-button>
    </div>
  </div>
</ion-content>