<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

<ion-header>

</ion-header>

<ion-content>

  <div class = "div_esquerda">

    <h1>Bem vindo de volta!</h1>
    
    <img src = "/assets/img_festa.png">

    <hr size = "50">

    <p>Ainda não possui uma conta?</p>

    <ion-button color = "white" href = "home">
      Cadastrar-se
    </ion-button>

  </div>

  <div class = "div_direita">

    <h1 class = "criar_conta">Entre na sua conta</h1>
    
    <hr>

    <p>Entre com uma rede social</p>

    <div class = "botoes_redes">

      <button ion-button class = "container_icon" color = "white">
        <ion-icon name = "logo-google"></ion-icon>
      </button>

      <button ion-button class = "container_icon" color = "white">
        <ion-icon name = "logo-facebook"></ion-icon>
      </button>

      <button ion-button class = "container_icon" color = "white">
        <ion-icon name = "logo-instagram"></ion-icon>
      </button>
    
    </div>

    <p>Ou use seu email para entrar:</p>

    <ion-input class = "input-especial" type = "text" color = "primary" placeholder = "E-mail ou nome de usuário"></ion-input>

    <ion-input class = "input-especial" type = "password" color = "primary" placeholder = "Senha"></ion-input>

    <label class = "checkbox">
      <ion-checkbox color="light"></ion-checkbox>
      <p>Mantenha-me conectado</p>
    </label>

    <ion-button color = "white" href = "home">
      Entrar >
    </ion-button>

  </div>

</ion-content>