<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="/assets/Uhu!.png" alt="logo_uhu!">
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button class="btn_inicio">
        Início
      </ion-button>
      <ion-button class="btn_sobre">
        Sobre
      </ion-button>
      <ion-button class="btn_contato">
        Contato
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button class="btn_entrar" color="dark">
        Entrar
      </ion-button>
      <ion-button class="btn_cconta" color="dark" fill="outline">
        Criar Conta
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='container'>
    <img  class='imagem_anuncio' src="" alt="imagem anuncio">

    <div class="block_cconta">
      <span class="titulo">Sua festa do seu jeito</span>
      <span class="paragrafo">Organize seu evento da maneira que deseja, escolha todos serviços e fornecedores que deseja, desde o buffet até o buquê de flores</span>
      <ion-button color="dark" fill="outline">
        Criar Nova Conta
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div> 

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let option of options">
        <span class="titulo_2">{{option.chamada}}</span>
        <span class="paragrafo_2">{{option.texto}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="sobre">
    <h1 class="titulo_sobre">Sobre nós</h1>
    <ion-grid>
      <ion-row *ngFor="let informacoe of informacoes">
        <ion-col>
          <ion-item>
            <h5>{{informacoe.pergunta}}</h5>
            <ion-icon class="icone_sobre" name={{informacoe.icone1}}></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="contato">
    <ion-label class="titulo_contato" position="fixed">Entrar em contato</ion-label>
    <div class="display">
      <div class="dados">
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input placeholder="Apenas seu primeiro nome."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Sobrenome</ion-label>
        <ion-input placeholder="Sobrenome completo."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input placeholder="Ex: anamaria23@gmail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Número</ion-label>
        <ion-input placeholder="Seu número de celular."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Mensagem</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button color="dark" fill="clear">
        Entrar em contato
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="contato">
      <ion-label>Contato</ion-label>
      <ion-label>Número</ion-label>
      <ion-label>+55 (14) 99999-9999</ion-label>
      <ion-label>E-mail</ion-label>
      <ion-label>elisangelagasparotto@gmail.com</ion-label>
      <ion-label>Redes Sociais</ion-label>
      <div class="contato_redes">
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
      </div>
    </div>
  </div>
    
  </div>

  <div class="rodape">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="titulo_rodape">Sua festa do seu jeito</h1>
        </ion-col>
        <ion-col>
          <h1 class="t_sobre_rodape">Sobre</h1>
          <p class="p_sobre_rodape">Inicialmente, começamos a atuar com realização de cerimônias e assessoria a eventos em 20...(coletar essa data com o cliente) . Já atendemos diversos clientes, em diversos tipos de ocasiões, como casamentos, festas de debutante, etc. </p>
        </ion-col>
        <ion-col>
          <h1 class="t_info">Uhu!</h1>
          <h4 class="infos">+55 (14) 99999-9999<br><br>elisangelagasparotto@gmail.com</h4>
          <ion-icon class="icones" name="logo-instagram"></ion-icon>
          <ion-icon class="icones" name="logo-facebook"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h5 class="direitos">Uhhu! 2021 - Todos direitos reservados</h5>
  </div>
</ion-content>