<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button href = "cadastro-fornecedor" color = "danger">Cadastro Fornecedor</ion-button>
  <ion-button href = "cadastro-fornecedor01" color = "danger">Cadastro Fornecedor 01</ion-button>
  <ion-button href = "cadastro-fornecedor02" color = "danger">Cadastro Fornecedor 02</ion-button>

</ion-content>
