*{
  font-family: 'Montserrat', sans-serif;
}

ion-header{
  ion-toolbar{
    --background: linear-gradient(to right, rgba(248, 109, 112, 0.4), rgba(194, 163, 245, 0.4), rgba(163, 213, 245, 0.4));

    ion-title{
      img{
        width: 60px;
      }
    }
    .btn_inicio{
      font-size: 10px;
    }
    .btn_sobre{
      font-size: 10px;
    }
    .btn_contato{
      font-size: 10px;
      margin: 0 550px 0 0;
    }
    .btn_entrar{
      font-size: 10px;
    }
    .btn_cconta{
      font-size: 12px;
    }
  }
}

ion-content{
    #ancora_inicio{
      width: 100%;
      height: 300px;
      background: linear-gradient(to right,  rgba(248, 109, 112, 0.4), rgba(194, 163, 245, 0.4), rgba(163, 213, 245, 0.4));
      display: flex;

    .imagem_anuncio{
      width: 400px;
    }
      
     .block_cconta{
      padding: 90px 50px 0 50px;
      display: flex;
      flex-direction: column;

      .titulo{
        font-size: 32px;
        font-weight: bold;
        padding: 0 0 10px 0;
        font-family: 'Dancing Script', cursive;
      }
      .paragrafo{
        font-size: 12px;
        text-align: justify;
        padding: 0 0 10px 0;
      }
     }
  }
  ion-grid{
    ion-row{
      padding: 50px 0 10px 0;

      ion-col{
        display: flex;
        flex-direction: column;
        padding: 0 30px 0 30px;

        .titulo_2{
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          font-family: 'Dancing Script', cursive;
          padding: 0 0 20px 0;
        }
        .paragrafo_2{
          font-size: 12px;
          text-align: justify;
        }
      }
    }
  }
  #ancora_sobre{
    width: 100%;
    height: 400px;
  
    .titulo_sobre{
      font-size: 32px;
      text-align: center;
      font-family: 'Dancing Script', cursive;
    }

    ion-grid{
      ion-row{
        padding: 10px;
        padding-left: 220px;
        border: 1px solid black;
        ion-col{
          padding-left: 6px;
          border: 1px solid black;
          
          .pergunta_sobre{
            font-weight: bold;
            font-size: 20px;
            padding-top: 12px;     
          }
          .icone_sobre{
            font-size: 50px;
            color: #201313;
          }
        }
      }
    }
  }
  #ancora_contato{
    width: 100%;
    height: 560px;
    background-color: #201313;

    .display{
      display: flex;
      flex-direction: row;
    }
    
    .titulo_contato{
      font-size: 32px;
      color: white;
      text-align: center;
      padding-top: 40px;
      font-family: 'Dancing Script', cursive;
      padding-bottom: 30px;
    }

    .dados{
      width: 50%;
      display: flex;
      flex-direction: column;
      margin: 0 0 0 50px;
    }

    .nome{
      width: 190px;
    }

    .cor{
      border-bottom: 1px white solid;
      font-size: 12px;
    }

    .rotulo{
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: bold;
      padding: 0 0 20px 0;
    }

    .fundo_item{
      --background:#201313;
      color:white;
    
    }

    .btn_entrar_contato{
      //width: 200px;
      margin: 30px 15px 0 15px;
    }

    .divisao_nome{
      display: flex;
      flex-direction: row;
    }

    .tt_contatos{
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px white solid;
      padding-bottom: 12px;
    }

    .t_contato{
      font-size: 14px;
      font-weight: bold;
      padding-top: 15px;
    }

    .p_contato{ 
      font-size: 12px;
      padding-top: 8px;
    }

    .icones_redes{
      font-size: 24px;
      padding-top: 10px;
      padding-right: 10px;
    }
    
    .filete{
      width: 2px;
      height: 400px;
      background-color: white;
      margin: 0 50px 0 50px;
    }

    .contato_dados{
      width: 50%;
      display: flex;
      flex-direction: column;
      color: white;
      padding: 20px 0 0 0;
      margin: 0 50px 0 0;

      .contato_redes{
        display: inline;
      }
    }
  }
  .rodape{
    width: 100%;
    height: 270px;
    background-color: #100A0A;

    ion-grid{
      ion-row{
        ion-col{
          .titulo_rodape{
            font-size: 26px;
            color: white;
            font-family: 'Dancing Script', cursive;
          }
        }	
        ion-col{
          .t_sobre_rodape{
            color: white;
            font-size: 15px;
            font-weight: bold;
          }
          .p_sobre_rodape{
            color: white;
            font-size: 11px;
            text-align: justify;
          }
        }
        ion-col{
          display: inline;
          .t_info{
            color: white;
            font-size: 24px;
            font-weight: bold
          }
          .infos{
            color: white;
            font-size: 12px;
          }
          .icones{
            color: white;
            font-size: 24px;
          }
        }     
      }
    }
    .direitos{
      color: white;
      font-size: 11px;
      padding: 0 0 0 30px ;
    }
  }
}