*{
  font-family: 'Montserrat', sans-serif;
}

ion-header{
  ion-toolbar{
    --background: linear-gradient(to right, rgba(248, 109, 112, 0.4), rgba(194, 163, 245, 0.4), rgba(163, 213, 245, 0.4));

    ion-title{
      img{
        width: 60px;
      }
    }
    .btn_inicio{
      font-size: 10px;
    }
    .btn_sobre{
      font-size: 10px;
    }
    .btn_contato{
      font-size: 10px;
      margin: 0 330px 0 0;
    }
    .btn_entrar{
      font-size: 10px;
    }
    .btn_cconta{
      font-size: 12px;
    }
  }
}

ion-content{
    .container{
      width: 100%;
      height: 300px;
      background: linear-gradient(to right,  rgba(248, 109, 112, 0.4), rgba(194, 163, 245, 0.4), rgba(163, 213, 245, 0.4));
      display: flex;

    .imagem_anuncio{
      width: 400px;
    }
      
     .block_cconta{
      padding: 90px 50px 0 50px;
      display: flex;
      flex-direction: column;

      .titulo{
        font-size: 32px;
        font-weight: bold;
        padding: 0 0 10px 0;
        font-family: 'Dancing Script', cursive;
      }
      .paragrafo{
        font-size: 12px;
        text-align: justify;
        padding: 0 0 10px 0;
      }
     }
  }
  ion-grid{
    ion-row{
      padding: 50px 0 10px 0;

      ion-col{
        display: flex;
        flex-direction: column;
        padding: 0 30px 0 30px;

        .titulo_2{
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          font-family: 'Dancing Script', cursive;
          padding: 0 0 20px 0;
        }
        .paragrafo_2{
          font-size: 12px;
          text-align: justify;
        }
      }
    }
  }
  .sobre{
    width: 100%;
    height: 300px;
  
    .titulo_sobre{
      font-size: 32px;
      text-align: center;
      font-family: 'Dancing Script', cursive;
    }
    
    ion-grid{
      ion-row{
        display: inline;
        ion-col{
          display: flex;
          flex-direction: row;
          ion-item{
            position: center;
            .icone_sobre{
              font-size: 30px;
              padding: 12px 0 0;
              text-align: right;
          }
          }
        }
      }
    }
  }
  .contato{
    width: 100%;
    height: 500px;
    //background-color: #201313;

    .display{
      display: flex;
      flex-direction: row;
    }
    
    .titulo_contato{
      font-size: 32px;
      //color: white;
      text-align: center;
      padding-top: 40px;
      font-family: 'Dancing Script', cursive;
    }

    .dados{
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    .contato{
      width: 50%;
      display: flex;
      flex-direction: column;

      .contato_redes{
        display: inline;
        //color: white;
      }
    }
  }
  .rodape{
    width: 100%;
    height: 270px;
    background-color: #100A0A;

    ion-grid{
      ion-row{
        ion-col{
          .titulo_rodape{
            font-size: 26px;
            color: white;
            font-family: 'Dancing Script', cursive;
          }
        }	
        ion-col{
          .t_sobre_rodape{
            color: white;
            font-size: 15px;
            font-weight: bold;
          }
          .p_sobre_rodape{
            color: white;
            font-size: 11px;
            text-align: justify;
          }
        }
        ion-col{
          display: inline;
          .t_info{
            color: white;
            font-size: 24px;
            font-weight: bold
          }
          .infos{
            color: white;
            font-size: 12px;
          }
          .icones{
            color: white;
            font-size: 24px;
          }
        }     
      }
    }
    .direitos{
      color: white;
      font-size: 11px;
      padding: 0 0 0 30px ;
    }
  }
}